@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: sans-serif !important;
  font-weight: 600 !important;
}

.react-calendar_navigation_label_labelText {
  font-weight: 600 !important;
}

.react-calendar__tile--active {
  background-color: #54a1a1 !important;
  color: #122740 !important;
}

.react-calendar__tile--now {
  background-color: #122740 !important;
  color: #fff !important;
}

.rct-btn-group {
  display: none !important;
}
